<section id='main'>
<div id='list-div'>
  <h2>The Unholy Compendium of Snippets</h2>
  <ul>
    <li><a href='/snippets/ruby'>Ruby (<%= @ruby %> Snippets)</a></li>
    <li><a href='/snippets/js'>JavaScript (<%= @js %> Snippets)</a></li>
    <li><a href='/snippets/cs'>CoffeeScript (<%= @cs %> Snippets)</a></li>
    <li><a href='/snippets/html'>HTML (<%= @html %> Snippets)</a></li>
    <li><a href='/snippets/css'>CSS (<%= @css %> Snippets)</a></li>
  </ul>
</div>
</section>