<section id='main'>
<h2>My Compendium of Snippets</h2>
<div id='list-div'>
  <ul>
    <li>
      <a href='/snippets/ruby'>
        <img src="http://www.prestonlee.com/wp-content/uploads/2008/09/ruby.png"> Ruby (<%= @ruby %> Snippets)
      </a>
    </li>
    <li>
      <a href='/snippets/js'><img src="http://www.supportmyidea.com/wp-content/uploads/2014/03/js.png"> JavaScript (<%= @js %> Snippets)</a>
    </li>
    <li>
      <a href='/snippets/cs'><img src="http://bodil.org/coffeescript/media/coffeescript_logo.png">CoffeeScript (<%= @cs %> Snippets)</a>
    </li>
    <li>
      <a href='/snippets/html'><img src="http://www.w3.org/html/logo/downloads/HTML5_Logo_512.png">HTML (<%= @html %> Snippets)</a>
    </li>
    <li>
      <a href='/snippets/css'><img src="http://ohdoylerules.com/content/images/css3.svg"> CSS (<%= @css %> Snippets)</a>
    </li>
  </ul>
</div>
</section>