<section id='main'>
<h2>The Unholy Compendium of Snippets</h2>
<a href='/ruby'>Ruby (<%= @ruby %> Snippets)</a><br>
<a href='/ruby'>JavaScript (<%= @js %> Snippets)</a><br>
<a href='/ruby'>CoffeeScript (<%= @cs %> Snippets)</a><br>
<a href='/ruby'>HTML (<%= @html %> Snippets)</a><br>
<a href='/ruby'>CSS (<%= @css %> Snippets)</a>
</section>